{% extends 'base.html' %}
{% block body_content %}

<div class="container">
    <div class="hstack gap-5">
        <div class="col-8">
            <h3 class="mb-3"><i class="bi bi-info-circle"></i> About Crypti</h3>
            
            <p class="h5 text-justify">
                <span class="text-success">Crypti</span> is a platform for crypto enthusiasts aiming to provide information and insights into cryptocurrency price movements. We use machine learning algorithms, specifically long short-term memory networks (LSTMs), to analyze price data and identify trends.
            
                Our goal is to help casual crypto investors and newcomers to the space get started by providing an easy way to see visualized price predictions and understand market sentiment. The crypto markets are highly volatile, but we believe that with the right technology and modeling techniques, we can cut through some of the noise.
                
                Crypti was founded in <span class="text-success">Dec 11, 2022</span> by <a href="https://github.com/1337Farhan">1337Farhan</a>, <a href="https://github.com/Anas-Elhounsri">Anas-Elhounsri</a>, and <a href="https://github.com/mosman4">mosman4</a> who wanted to apply their passion for data science and machine learning to the exciting world of cryptocurrencies. 
                <br>
                <br>    
                Crypti is an open-source project, and we encourage crypto enthusiasts, developers, and machine learning engineers to contribute to the platform. If you're interested in helping us build the future of crypto market analysis, check out our GitHub repositories on the right, and reach out to us there! 
                
                
                <br>
                <br>
                Together we can create an invaluable resource for the cryptocurrency community.
            </p>
        </div>
        <div class="vr"></div>
        <div class="col-3">
            <h3 class="mb-3">Important links</h3>
            <h4>
                <i class="bi bi-people"></i> Devs
            </h4>
            <ul class="list-group">
                <li class="list-group-item"><a href="https://github.com/1337Farhan">1337Farhan</a></li>
                <li class="list-group-item"><a href="https://github.com/Anas-Elhounsri">Anas-Elhounsri</a></li>
                <li class="list-group-item"><a href="https://github.com/mosman4">mosman4</a></li>
            </ul>
            <br>
            <h4>
                <i class="bi bi-github"></i> Repos
            </h4>
            <h6>Our project is open source, you contribution is appreciated!</h6>
            <ul class="list-group">
                <li class="list-group-item"><a href="https://github.com/1337Farhan/Crypti">Crypti</a></li>
                <li class="list-group-item"><a href="https://github.com/1337Farhan/CryptiWeb">CryptiWeb</a></li>
                <li class="list-group-item"><a href="https://github.com/Anas-Elhounsri/Crypti-LSTM">Crypti-LSTM</a></li>
                <li class="list-group-item"><a href="https://github.com/mosman4/cryptimobile">cryptimobile</a></li>
            </ul>
            <br>
        </div>
    </div>
</div>
{% endblock body_content %}