{% extends 'base.html' %}
{% load humanize %}

{% block body_content %}

<div class="row mb-3">
  <h3>
    Symbol: <a href="{{ coin_data.coin_page }}">{{ object.coin_name | title }}</a>
    <img
      src="{{ coin_data.coin_image_link }}"
      class="img-fluid rounded-top"
      alt="icon"
      width="25"
    />
  </h3>
  <h4>M. Cap: {{ coin_data.market_cap | intcomma }} USD</h4>
  <div class="row">
    <div class="col mb-2">
      <a data-bs-toggle="collapse" href="#description" role="button" aria-expanded="false" aria-controls="description">
        Show more
      </a>
    </div>
  </div>
  <div class="collapse" id="description">
    <div class="col">
      <p>
        {{coin_data.coin_desc | safe}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      24h Change: 
      <i class=
        "
          bi
          {% if coin_data.change_24h > 0 %}
            bi-arrow-up text-success
          {% elif coin_data.change_24h < 0 %}
            bi-arrow-down text-danger
          {% else %}
          {% endif %}
        "
      ></i>   
      <span class=
        "
          {% if coin_data.change_24h > 0 %}
            text-success
          {% elif coin_data.change_24h < 0 %}
            text-danger
          {% else %}
            text-warning
          {% endif %}
        "
      >{{ coin_data.change_24h | floatformat:"4" }}%</span>
    </div>
    <div class="col-3">
      30d Change:
      <i class=
        "
          bi
          {% if coin_data.change_24h > 0 %}
            bi-arrow-up text-success
          {% elif coin_data.change_24h < 0 %}
            bi-arrow-down text-danger
          {% else %}
          {% endif %}
        "
      ></i>   
      <span class=
        "
          {% if coin_data.change_24h > 0 %}
            text-success
          {% elif coin_data.change_24h < 0 %}
            text-danger
          {% else %}
            text-warning
          {% endif %}
        "
      >{{ coin_data.change_30d | floatformat:"4" }}%</span>
    </div>
  </div>
  <h5 class="mt-2">
    <i class="bi bi-github"></i>
    <a href="{{coin_data.coin_github_link}}">Github</a>
  </h5>
</div>
<div class="card border-dark bg-light">
  <div class="card-body">
    <div id="chart" class="p-2"></div>
  </div>
</div>
<div class="container">
  <div class="row my-5">
    <div class="col-6">
      <h4>Today's Predicted Price: {{ todays_predicted_price | floatformat:"4" }} USD</h4>
    </div>
    <div class="col-6">
      <h4>RMSE: {{ rmse | floatformat:"4" }}</h4>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-6">
      <h4>Current Price: {{ current_real_price | floatformat:"4" }} USD</h4>
    </div>
    {% comment %} <div class="col-6">
      <h4>MSE: {{ mse | floatformat:"4" }}</h4>
    </div> {% endcomment %}
  </div>
</div>

{% endblock body_content %} 
{% block scripts %}
<script>
  let my_list = [];
  function formatJsDateToNormalDate(date){
    console.log(date);
    if(date !== null) {
      const realMonth = date.getMonth() ;
      let month = (realMonth < 10) ? '0' + realMonth : String(realMonth);
      let day = (date.getDate() < 10) ? '0' + date.getDate() : String(date.getDate());
      const year = date.getFullYear();

      const formattedDate = [day, month, year].join('/');
      return formattedDate;
    }else {
      return null;
    }
  }
  {% for day in days %}
    my_list.push(formatJsDateToNormalDate(new Date({{ day|date:"Y, m, d, H, i, s" }})));
  {% endfor %}

  let new_list = [...new Set(my_list)];

  var options = {
      series: [{
      name: 'Real Price',
      data: {{ real_prices }}
    }, {
      name: 'Prediction Price',
      data: {{ object.get_predicted_prices }}
    }],
      chart: {
      height: 500,
      type: 'area'
    },
    dataLabels: {
      enabled: false
    },
    stroke: {
      curve: 'smooth'
    },
    xaxis: {
      categories: new_list,
      labels: {
        formatter: function (value) {
          return value
        }
      },
    },
    yaxis: {
      type: 'double',
      labels: {
        formatter: function (value) {
          return "$"+value.toFixed(4);
        }
      },
    },
    colors: ['#D73F28', '#28C0D7'],
    };
    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
</script>
{% endblock scripts %}
